
@{
    ViewData["Title"] = "About Us";
}
<div class="headercenter">
    <br><br><h1><u>Simple Stock Search Application</u></h1>
</div><p>
    <div class="headercenter">
        <h3><u>Business Use Case</u></h3>
    </div>
<p>
    •   In todays world, numerous stock market applications are available with lots of complex and sometimes confusing functionalities<br><br>
    •   Our " Simple Stock Search Application " aims at simplifying this confusion. It gives you a simple search functionality!<br><br>
    •	This application aims at the users who are confused between two prominent stocks where they wish to buy one!<br><br>
    •	Our application will help these users in getting the results within few minutes!!<br><br>
    •	In addition, No Logins Required.. This application is free to everyone !!<br><br>
</p>
<div class="headercenter">
    <h3><u>Self-Reflection</u></h3>
</div>
<p>
    •	Learning: Understood basic MVC architecture and use of the same. Integration with database was our challenge which we overcame with diligent efforts.<br><br>
    •	Division: First each of us studied about the stock market, designed our app and then in order to completely understand the end-end flow, each of us worked on one model each and integrated our respective findings into one application<br><br>
    •	Time Spent: Each person 4 hours/ Day<br><br>
    •	Suggestion: More hands-on in class <br><br>
</p>
<div class="headercenter">
    <h3><u>Team Members</u></h3>
</div>
<p>
    •	Lucky Hirani<br><br>
    •	Sanjivani Gadkari<br><br>
    •	Shaily Saigal<br><br>

</p>
<div class="headercenter">
    <h3><u>Github Link</u></h3>
</div>
